* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;
}

@import "theme.css";

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 10px;
    margin: 3px 0px;
    padding: 0px 3px;
    color: @wb-act-bg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.empty {
    color: @main-fg;
}

#workspaces button.active {
    /*background: @wb-act-bg;*/
    color: @wb-act-bg;
    /*padding: 0px 8px;*/
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    /*background: @wb-hvr-bg;*/
    color: @wb-hvr-bg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 10px;
    margin: 3px 2px;
    padding: 0px 3px;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    padding: 0px 8px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}

/*
#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
*/

#window,
#workspaces,
#taskbar,
#custom-sep,
#custom-lend,
#custom-rend,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray {
    background: @main-bg;
    color: @main-fg;
    opacity: 1;
    margin: 4px 0px;
    padding: 0px 4px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-lend {
    border-radius: 20px 0px 0px 20px;
    margin-left: 8px;
    padding-left: 4px;
}

#custom-rend {
    border-radius: 0px 20px 20px 0px;
    margin-right: 8px;
    padding-right: 4px;
}

